* {
    margin: 0;
    padding: 0;
  }
p h1 h2{
font-family: Georgia, 'Times New Roman', Times, serif; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }
.active {
    background-color: #037559;
  }

.gridbox {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto ;
    
  }
.grid-title {
    grid-column: 1 / span 2;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px ;
}
.grid-item1 {
    grid-column: 1 / span 2;
    text-align: center;
    padding-top: 10px;
    padding: 20px;
    background-color: #333;
    color: white;
}  
.grid-item2 {
    grid-column: 1;
    text-align: center;
    padding-top: 10px;
    padding: 20px;
}
.grid-item2 h1 {
  border-bottom: #333 4px solid;
  
}
.grid2-para{
    text-align: left;
    line-height: 2.5;
    padding-top: 10px;
    text-indent: 10mm;
}
.grid-item2-img {
    grid-column: 2;
    grid-row: 3;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 62px;
}

.grid-item2-img img {
border: #111 solid 2px;
}

/* Dominat_Structures */
.grid-title2 {
  grid-column: 1 / span 3;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px ;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 0.5fr 1.5fr ;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "GLA Sam-lawrance HPL"
    "GLA Sam-lawrance HPL";
}

.Title {
    grid-area: Title;  
    grid-column: 1 / span 3;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px ;
}
.GLA { grid-area: GLA; 
  text-align: center;
  margin-right: 17px;
  margin-top: 10px;
}
.GLA p{
  text-indent: 10mm;
  text-align: left;
  line-height: 2;
  margin-left: 17px;
}
.GLA img {
  border: #333 solid 2px;
  margin-top: 178px;
  margin-left: 27px;
 

}

.Sam-lawrance { 
  grid-area: Sam-lawrance; 
  text-align: center;
  margin-top: 10px;

}
.Sam-lawrance p {
  text-indent: 10mm;
  text-align: left;
  line-height: 2;

}
.Sam-lawrance img {
  border: #333 solid 2px;
  margin-top: 48px;
}

.HPL { 
  grid-area: HPL;  
  text-align: center;
  margin-top: 10px;
}
.HPL p {
  text-indent: 10mm;
  text-align: left;
  line-height: 2;
  margin-right: 17px;

}
.HPL img {
  border: #333 solid 2px;
  margin-top: 178px;

}
/* Interview Grid CSS */
.Interaction-grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.3fr 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Intro-interaction Intro-interaction Intro-interaction"
    "person1 photos-person person2"
    "person1 photos-person person2";
}

.Intro-interaction { 
  grid-area: Intro-interaction; 
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #333;


}

.person1 {
   grid-area: person1; 
  padding-left: 10px;
  margin: 5px;
  }
.person1 p {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  text-indent: 5mm;
  line-height: 1.5;
}
.person1 h3 {
  margin-top: 10px;
}
.person2 { 
  grid-area: person2; 
  margin: 5px;
}
.person2 img {
  border: #333 solid 2px;
  margin-top: 5px;
}
.photos-person { 
  grid-area: photos-person; 
  padding-top: 10px;
  padding-bottom: 10px;
}
.photos-person p {
  line-height: 2;
  text-indent: 10mm;
}
.photos-person h3 {
  margin-top: 5px;
}








/* Art Grid CSS */
.Art {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Pic1 Pic2 Pic3"
    "Pic1 Pic2 Pic3"
    "Pic1 Pic2 Pic3";
    margin: 5px;
    text-align: center;
}

.Pic1 { 
  grid-area: Pic1; 
  
}

.Pic2 { grid-area: Pic2; }

.Pic3 { grid-area: Pic3; }


/* Individual_intrigue  */
.individual_intrigue {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "individual-info intrigue1"
}

.individual-info { 
  grid-area: individual-info; 
  text-align: left;
  line-height: 2;
  text-indent: 10mm;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;

}

.intrigue1 { 
  grid-area: intrigue1;
  background-color: #333;
  margin-top: 5%;
  margin-right: 56px;
  border: #333 solid 2px;
}





/* Impact and Post_reflection section */
.con {  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr ;
  gap: 0px 0px; 
  grid-auto-flow: row;
  grid-template-areas: 
    "Post-ref Post-ref Post-ref"
    "impact impact Photo-impact"
    
}

.Post-ref { 
  grid-area: Post-ref;
  text-align: left;
  text-indent: 10mm;
  line-height: 2;
  margin: 10px;
}
.Post-ref h3 {
  text-align: center;
}
.Photo-impact { 
  grid-area: Photo-impact;
  text-align: left;
  text-indent: 10mm;
  line-height: 2;
  margin: 10px;
}
.Photo-impact img {
  border: #333 2px solid; 
}
 .impact {
  grid-area: impact;
  text-align: left;
  text-indent: 10mm;
  line-height: 2;
  margin: 10px;
 }
 .impact h3 {
  text-align: center;
 }



 .refpage {  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Ref Ref"
    "ref1 ref1"
    "ref2 ref2"
    "ref3 ref3"
    "ref4 ref4";
}

.Ref { 
  grid-area: Ref;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  line-height: 2;
}

.ref1 { 
  grid-area: ref1; 
  margin-left: 30%;
}
.ref1 p{
  text-align: left;
}

.ref2 { 
  grid-area: ref2; 
  margin-left: 30%;
}

.ref3 { 
  grid-area: ref3; 
  margin-left: 30%;}

.ref4 { 
  grid-area: ref4; 
  margin-left: 30%;
}

.refin {
  text-indent: 10mm;
}
